/* Global Styles
----------------------------------------------*/

main .form-control {
    display: inline-block;
    width: auto;
}

main {
    /* allow for horizontal scroll */
    overflow-x: auto;
    /* Center content */
    text-align: center;
}

.fixed {
    position: sticky;
    left: 0;
    background-color:white;
    z-index: 0;
}

.pageTopLegend {
    position: sticky;
    top: 0;
    left: 0;
    background:white;
    z-index: 0;
}

.secondLayer{
    z-index: -1;
    text-align: center;
    border: thin solid black;
}

/* Responsive Styles
-----------------------------------------------*/
@media screen and (max-width: 480px)
{
}