{% extends "layout.html" %}

{% block title %}
    Book OOF
{% endblock %}

{% block main %}
    {% if not booked %}
        <form action="/bookOOF" method="post">
            <label for="startDate">startDate</label>
            <input id="startDate" name="startDate" type="date" required>
            <label for="endDate">endDate</label>
            <input id="endDate" name="endDate" type="date" required>
            <label for="halfDay">HalfDay</label>
            <input id="halfDay" name="halfDay" value="True" type="checkbox">
            <select id="oofType" name="oofType" required>
                <option disabled selected value="">OOF Type</option>
                <option>Vacation</option>
                <option>Bank Holiday</option>
                <option>Attending Training</option>
                <option>Delivering Training</option>
            </select>
            <button>submit</button>
        </form>
    {% endif %}
    {% if booked %}
        <p>You have booked OOF successfully</p>
    {% endif %}
{% endblock %}